.Register {
  .form {
    background: linear-gradient(
        45deg,
        #0000 calc(25% / 3),
        #ffffff 0 calc(50% / 3),
        #0000 0 calc(250% / 3),
        #ffffff 0 calc(275% / 3),
        #0000 0
      ),
      linear-gradient(
        45deg,
        #ffffff calc(25% / 3),
        #0000 0 calc(50% / 3),
        #ffffff 0 25%,
        #0000 0 75%,
        #ffffff 0 calc(250% / 3),
        #0000 0 calc(275% / 3),
        #ffffff 0
      ),
      linear-gradient(
        -45deg,
        #0000 calc(25% / 3),
        #ffffff 0 calc(50% / 3),
        #0000 0 calc(250% / 3),
        #ffffff 0 calc(275% / 3),
        #0000 0
      ),
      linear-gradient(
          -45deg,
          #ffffff calc(25% / 3),
          #0000 0 calc(50% / 3),
          #ffffff 0 25%,
          #0000 0 75%,
          #ffffff 0 calc(250% / 3),
          #0000 0 calc(275% / 3),
          #ffffff 0
        )
        #000000;
    background-size: 34px 34px;
    background-position: 0 0, 17px 17px;
  }
}

@media (max-width: 600px) {
  .Register {
    height: 100vh;
    .text {
      display: none;
    }
    .form {
      padding-top: 10%;
      height: 100%;
      .p-20 {
        padding: 3%;
      }

      .m-10 {
        margin: 0%;
        margin-top: 25%;
      }
    }
  }
}
